*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
  font-size: 28px;
  margin-bottom: 10px;
}
h4{
   font-size: 20px; 
   margin-bottom: 20px;
}
hr {
    height: 1px;
    background-color: rgb(245, 243, 240);
    border: none;
    width: 100%;
    margin: 20px 0;
}
/* header styling */
section{
    margin-bottom: 20px;
}
header{
    
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    
    
    
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}
li a{
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;

}
li a:hover{
    background-color: black;
    color: white;
}
h1{
    
    color: orange;
    font-size: 30px;
    
    
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    
}
.wel-message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    
    
}
main{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/* about section */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    padding: 10px;
    
    width: 100%;
}
.aboutinfo{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.about h3{
    margin-bottom: 0;
}
.about_p{
    font-weight: bolder;
    text-align: justify;
   
    color: lightgray;
}
.about_p h3{
    color: orange;
    /* margin-bottom: 10px; */
}
img{
    width: 400px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 20px;
    object-fit: cover;
}
.orderbtn{
    background-color: orange;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 8px;
}
/* menu section */
.menu{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 10px;
    width: 100%;
    

    padding: 10px;
   
    
    width: 100%;
    
}
.menu-lists{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.foodmenu{
    background-color:rgba(127, 255, 212, 0.233);
    padding: 20px 50px;
    border-radius: 20px;
    border: 1px solid aquamarine;
    box-shadow: 2px 2px aquamarine;
    list-style-type: none;
    width: 300px;
    transition: 0.3s ease;
}
.foodmenu:hover{
    transform: translateY(-20px)
}
.foodmenu li{
    margin-bottom: 10px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.233);

}


/* table */
.pricetags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 100%;
    
    margin-top: 10px;
    padding: 10px;
   
    
    
}
table{
    border-collapse: separate;
    height: 350px;
    border-spacing: 0;
    border: 3px solid rgba(172, 255, 47, 0.178);
    border-radius: 20px;
    box-shadow: 5px 5px rgba(144, 238, 144, 0.671);
    overflow: hidden;
    width: 50%;
    transition: 0.3s ease;
    
}
table:hover{
    transform: translateY(-20px);
}

th, td{
    padding: 5px 90px;
}
th{
    background-color: rgba(127, 255, 212, 0.582);
}
td{
    background-image: linear-gradient(to right, rgba(127, 255, 212, 0.719), rgba(255, 166, 0, 0.555));
    color: black
}
/* Footer styling */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 166, 0, 0.185), rgba(127, 255, 212, 0.089));


}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    margin-top: 10px;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width:500px;
    
    /* justify-content: center; */
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 14px;
  /* color: #94a3b8; */
}

.form-group input,
.form-group textarea,
.form-group select{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  width: 500px;
  /* background-color: #1e293b; */
  /* color: #ffffff; */
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #3b82f6; /* blue highlight */
}

.form-group textarea {
  min-height: 150px;
  /* resize: vertical; */
}
.submit-btn{
    width:20%;
    align-self: center;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit-btn:hover{
    background-color: black;
    color: white;
}
.social{
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px;

}
