*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* hr{
    font-size: 600;
} */
/* header styling */
section{
    margin-bottom: 20px;
}
header{
    
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    
    
    
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}
h1{
    
    color: orange;
    
    
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    
}
.wel-message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    
    
}
main{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/* about section */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    padding: 10px;
    
    width: 100%;
}
.aboutinfo{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.about_p{
    text-align: justify;
   
    color: lightgray;
}
.about_p h3{
    color: orange;
    margin-bottom: 10px;
}
img{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 20px;
    object-fit: cover;
}
.orderbtn{
    background-color: orange;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 8px;
}
/* menu section */
.menu{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 10px;
    width: 100%;
    

    padding: 10px;
   
    
    width: 100%;
    
}
.menu-lists{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.foodmenu{
    background-color: rgb(171, 185, 185);
    padding: 20px 50px;
    border-radius: 20px;
}
.drinksmenu{
    background-color: aquamarine;
    padding: 20px 50px;
    border-radius: 20px;
}

/* table */
.pricetags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 100%;
    
    margin-top: 10px;
    padding: 10px;
   
    
    
}
table{
    width: 50%;
    
}
table,th, td{
    border: 2px solid rgb(94, 65, 65);
    
    border-collapse: collapse;
    

}
th, td{
    padding: 5px 90px;
}
th{
    background-color: aquamarine;
}

/* Footer styling */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 20px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}